* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.heading{
  padding:10px;
}
.paragraph{
  padding:10px;
}
.bdg-sect{
  padding-top:100px;
  padding-bottom:100px;
  font-family:Helvetica, serif;
  background-color:#fafafa;
}
#i4uh{
  background-image:url("black.png');"
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
}
.tooltip-component__body, [data-tooltip]::after{
  font-family:Helvetica, sans-serif;
  background:rgba(55, 61, 73, 0.95);
  border-radius:3px;
  bottom:100%;
  color:#fff;
  content:attr(data-tooltip);
  display:block;
  font-size:12px;
  left:50%;
  line-height:normal;
  max-width:32rem;
  opacity:0;
  overflow:hidden;
  padding:8px 16px;
  pointer-events:none;
  position:absolute;
  text-overflow:ellipsis;
  transform:translate(-50%, 0);
  transition:opacity 0.25s, transform 0.25s;
  white-space:nowrap;
  box-sizing:border-box;
  z-index:10;
}
[data-tooltip-visible=true]::after, [data-tooltip]:focus::after, [data-tooltip]:hover::after{
  opacity:1;
  transform:translate(-50%, -0.5rem);
}
[data-tooltip-pos=right]::after{
  bottom:50%;
  left:100%;
  transform:translate(0, 50%);
}
[data-tooltip-pos=right]:focus::after, [data-tooltip-pos=right]:hover::after, [data-tooltip-visible=true][data-tooltip-pos=right]::after{
  transform:translate(0.5rem, 50%);
}
[data-tooltip-pos=bottom]::after{
  bottom:auto;
  top:100%;
  transform:translate(-50%, 0);
}
[data-tooltip-pos=bottom]:focus::after, [data-tooltip-pos=bottom]:hover::after, [data-tooltip-visible=true][data-tooltip-pos=bottom]::after{
  transform:translate(-50%, 0.5rem);
}
[data-tooltip-pos=left]::after{
  bottom:50%;
  left:auto;
  right:100%;
  transform:translate(0, 50%);
}
[data-tooltip-pos=left]:focus::after, [data-tooltip-pos=left]:hover::after, [data-tooltip-visible=true][data-tooltip-pos=left]::after{
  transform:translate(-0.5rem, 50%);
}
[data-tooltip-length=small]::after{
  white-space:normal;
  width:80px;
}
[data-tooltip-length=medium]::after{
  white-space:normal;
  width:150px;
}
[data-tooltip-length=large]::after{
  white-space:normal;
  width:300px;
}
[data-tooltip-length=fit]::after{
  white-space:normal;
  width:100%;
}
// IE 11 bugfix
button[data-tooltip]{
  overflow:visible;
}
.row{
  display:flex;
  justify-content:flex-start;
  align-items:stretch;
  flex-wrap:nowrap;
  padding:10px;
}
.cell{
  min-height:75px;
  flex-grow:1;
  flex-basis:100%;
}
#ih2w{
  height:742px;
  width:1632px;
  border:0 dotted black;
}
#iiul{
  border:5px double #a46666;
  box-shadow:0 0 5px 0 #cf6a6a ;
}
#iy1d{
  height:1000px;
  transition:width 2s ease;
}
#isd6{
  opacity:1;
  color:#ffffff;
  background-image:url("black.png");
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  padding:50px 0 100px 0;
}
#i2cq{
  color:#ffffff;
  text-align:center;
  height:100px;
  font-family:Impact, Charcoal, sans-serif;
  font-size:50px;
  font-weight:400;
  letter-spacing:10px;
}
#iaog{
  color:#c1c1c1;
  font-size:30px;
  font-family:Helvetica, sans-serif;
  font-weight:300;
}
#in34o{
  display:inline-block;
  padding:5px;
  min-height:50px;
  min-width:50px;
  color:#ffffff;
  width:200px;
  height:100px;
  margin:0 200px 0 100px;
  border:2.5px solid #fff4f4;
  background-image:url('https://via.placeholder.com/350x250/459ba8/fff/image2.jpg');
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  box-shadow:0 0 5px 0 #ffd8d8 ;
  transition:transform 2s ease;
}
#iw827{
  color:#d983a6;
  border:0 solid #fff4f4;
  margin:20px 0 0 50px;
  padding:0 0 0 0;
  position:static;
  display:inline-block;
  font-family:Impact, Charcoal, sans-serif;
  font-size:45px;
  font-weight:500;
}
#iwsvh{
  position:relative;
  width:980px;
  margin:100px auto 0 auto;
}
#in20g{
  width:880px;
  margin:0 auto;
  position:relative;
  overflow:hidden;
  white-space:nowrap;
  border:5px solid #fff4f4;
}
#ij3f4{
  display:inline-block;
  transition-delay:1ms;
  border:0 solid #ffffff;
}
#iby61{
  display:inline-block;
  position:relative;
  color:#fff;
  width:880px;
  vertical-align:top;
  min-height:130px;
  white-space:normal;
  background-color:rgba(0, 0, 0, 0.1);
  margin:150px 10px 0 0;
}
#irwzi{
  display:inline-block;
  position:relative;
  color:#fff;
  width:880px;
  margin-right:10px;
  vertical-align:top;
  min-height:130px;
  white-space:normal;
  background-color:rgba(0, 0, 0, 0.1);
}
#i24cu{
  display:inline-block;
  position:relative;
  color:#fff;
  width:880px;
  margin-right:10px;
  vertical-align:top;
  min-height:130px;
  white-space:normal;
  background-color:rgba(0, 0, 0, 0.1);
}
#iayra{
  position:absolute;
  display:block;
  cursor:pointer;
  top:50%;
  left:0;
  margin-top:-25px;
}
#i0xj7{
  position:absolute;
  display:block;
  cursor:pointer;
  top:50%;
  right:0;
  margin-top:-25px;
}
#inrjj{
  color:#d983a6;
  border:0 solid #fff4f4;
  margin:20px 0 0 50px;
  padding:0 0 0 0;
  position:static;
  display:inline-block;
  font-family:Impact, Charcoal, sans-serif;
  font-size:45px;
  font-weight:500;
}
#i3u2h{
  display:inline-block;
  padding:5px;
  min-height:50px;
  min-width:50px;
  color:#ffffff;
  width:200px;
  height:100px;
  margin:0 200px 0 100px;
  border:2.5px solid #fff4f4;
  background-image:url('https://via.placeholder.com/350x250/459ba8/fff/image2.jpg');
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  box-shadow:0 0 5px 0 #ffd8d8 ;
  transition:transform 2s ease;
}
#irqto{
  color:#d983a6;
  border:0 solid #fff4f4;
  margin:20px 0 0 50px;
  padding:0 0 0 0;
  position:static;
  display:inline-block;
  font-family:Impact, Charcoal, sans-serif;
  font-size:45px;
  font-weight:500;
}
#i5m74{
  display:inline-block;
  padding:5px;
  min-height:50px;
  min-width:50px;
  color:#ffffff;
  width:200px;
  height:100px;
  margin:0 200px 0 100px;
  border:2.5px solid #fff4f4;
  background-image:url('https://via.placeholder.com/350x250/459ba8/fff/image2.jpg');
  background-repeat:repeat;
  background-position:left top;
  background-attachment:scroll;
  background-size:auto;
  box-shadow:0 0 5px 0 #ffd8d8 ;
  transition:transform 2s ease;
}
#i8ul6{
  padding:10px;
  margin:100px 0 0 250px;
  font-size:50px;
}
#iy8qi{
  padding:10px;
  font-size:50px;
  font-weight:500;
}
@media fadeEffect{
  from{
    opacity:0;
  }
  to{
    opacity:1;
  }
}
@media (max-width: 768px){
  .row{
    flex-wrap:wrap;
  }
}
